* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.head {
  /* border: 1px solid black; */
  font-family: Calibri;
  /* align-items: flex-end; */
  justify-content: end;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

.head h2 {
  font-size: 30px;
  color: rgba(65, 65, 245, 0.89);
}

.head .personal_info {
  /* border: 2px solid black; */
  /* padding: 100px; */
  width: 50%;
  margin-left: 250px;
  margin-right: 230px;
}

.head .personal_info .info {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.head .personal_info .info2 {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.head .personal_info .info p {
  display: flex;
  flex-direction: row;
}

.head .image {
  border-radius: 20px;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(65, 65, 245, 0.89);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

/* Education */
.education {
  text-align: left;
  margin-bottom: 30px;
}

.education p {
  font-weight: 600;
  color: rgba(65, 65, 245, 0.89);
  border-bottom: 1px solid rgba(65, 65, 245, 0.89);
}

.education .schooling {
  margin-top: 20px;
  font-weight: bold;
  list-style: none;
}

.education .schooling li ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.education .schooling li ul li:nth-child(2) {
  font-weight: lighter;
}

.education .schooling li {
  margin-top: 5px;
}


/* INTERNSHIP EXPERIENCE */
.internship {
  text-align: left;
}

.list{
  margin-top: 15px;
}

.list span:nth-child(3){
  margin-left: 620px;
  margin-bottom: 10px;
}

.internship p {
  margin-bottom: 15px;
  font-weight: 600;
  color: rgba(65, 65, 245, 0.89);
  border-bottom: 1px solid rgba(65, 65, 245, 0.89);
}

.company{
  font-weight: bold;
}

.role{
  font-style: italic;
}

.internship .description{
  margin-left: 50px;
}

.internship .description ul li{
  margin-top: 3px;
}

/* projects */
.projects p {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 600;
  color: rgba(65, 65, 245, 0.89);
  border-bottom: 1px solid rgba(65, 65, 245, 0.89);
}

.projects .company{
  font-weight: bold;
}

.projects .company span{
  font-weight: lighter;
  margin-left: 670px;
  text-align: right;
}

.projects .role{
  font-style: italic;
}

.projects .description{
  margin-left: 50px;
}

.projects .description ul li{
  margin-top: 3px;
}