*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

/* to select odd number of list */
ul > li:nth-of-type(odd) {
    border-top: 5px solid red;
}

.box{
    margin: 50px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: green;
}

.box:hover{
    background-color: blue;
    border-radius: 100%;
}

section p:nth-child(1){
    color: blue;
}

h1::before{
    content: 'mradul ';
    color: aqua;
}

h1::after{
    content: '\2606';
}
